.border{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #004270;
    position: relative;
}

.border-radius{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.top{
    width: 100%;
    height: 74px;
    text-align: center;
    background: url("../images/bg.png") no-repeat center/cover;
}

.top img{
    padding-top: 20px;
}

.menu {
    height: 36px;
    position: absolute;
    top: 8px;
    left: 10px;
}

.menu ul li{
    float: left;
    padding: 0 10px;
    margin-right: 1px;
    line-height: 36px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.menu ul li a{
    padding-left: 20px;
    color: #a2d9ff;
}

.menu ul li a.menu-index{
    background: url("../images/menu-index.png") no-repeat left;
}

.menu ul li a.menu-port{
    background: url("../images/menu-port.png") no-repeat left;
}

.menu ul li a.menu-word{
    background: url("../images/menu-word.png") no-repeat left;
}

.menu ul li.active{
    background: #003c65;
}

.menu ul li.active:after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #28edff;
}

.menu ul li.active a,
.menu ul li:hover a{
    color: #28edff;
}

.menu ul li.active a.menu-index,
.menu ul li:hover a.menu-index{
    background: url("../images/menu-hover-index.png") no-repeat left;
}

.menu ul li.active a.menu-port,
.menu ul li:hover a.menu-port{
    background: url("../images/menu-hover-port.png") no-repeat left;
}

.menu ul li.active a.menu-word,
.menu ul li:hover a.menu-word{
    background: url("../images/menu-hover-word.png") no-repeat left;
}

.admin{
    position: absolute;
    top:13px;
    right: 10px;
}

.admin .user{
    margin-right: 13px;
    padding-left: 19px;
    background: url("../images/user.png") no-repeat left;
}

.admin .quit-button{
    padding-left: 23px;
    background: url("../images/quit-icon.png") no-repeat left;
}

.admin .quit-button:hover{
    color: #28edff;
    background: url("../images/quit-hover.png") no-repeat left;
}

.total{
    position: absolute;
    top:52px;
    left: 10px;
}

.total span{
    position: relative;
    font-size: 20px;
}

.current-date{
    position: absolute;
    top: 52px;
    right: 10px;
    font-size: 20px;
}

.content{
    margin: 10px;
    position: relative;
}

.title {
    padding-left: 22px;
    line-height: 36px;
    position: relative;
    color: #d9efff;
    font-size: 16px;
    border-bottom: 1px solid #125f95;
}

.title:after {
    content: '';
    width: 6px;
    height: 6px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 10px;
    background: #5b8196;
}

.table .panel-body{
    background: transparent;
}

.table .datagrid-header td,
.table .datagrid-body td,
.table .datagrid-footer td{
    border: 0;
}

.table .datagrid-header-row,
.table .datagrid-row{
    height: 28px;
}

.table .datagrid-header{
    background: #004b80;
    border: 0;
}

.table .datagrid-header td,
.table .datagrid-body td{
    vertical-align: middle;
    padding-left: 7px;
}

.table .datagrid-header td:last-child span,
.table .datagrid-body td:last-child span{
    padding-right: 18px;
}

.table .panel-body{
    border: 0;
}

.table .datagrid-htable,
.table .datagrid-btable,
.table .datagrid-header td.datagrid-header-over{
    color: #a2d9ff;
}

.table .datagrid-header td.datagrid-header-over{
    background: #004b80;
}

.table .datagrid-row{
    background: #004270;
}

.table .datagrid-row-alt{
    background: #004b80;
}

.table .datagrid-row-selected,
.table .datagrid-row-over{
    color: #a2d9ff;
    background: #0463a5;
}

.table .success{
    padding-left: 18px;
    background: url("../images/success-icon.png") no-repeat left;
}

.table .fail{
    padding-left: 18px;
    background: url("../images/fail-icon.png") no-repeat left;
}

.table .datagrid-body::-webkit-scrollbar {
    display: none;
}

.data-table .datagrid-header td:last-child span{
    padding-right: 8px;
}

.data-table .datagrid-btable td:last-child .datagrid-cell{
    padding-right: 12px;
}

.toolbar-title{
    margin-right: 6px;
    line-height: 28px;
}

.reset-text-box .textbox{
    width: 165px!important;
    border: 1px solid #125f95;
    background: #004270;
}

.reset-text-box .textbox .textbox-text{
    width: 145px!important;
    height: 26px!important;
    line-height: 26px!important;
    cursor: pointer;
    color: #a2d9ff;
    border-radius: 0;
    background: #004270;
    font-family: Arial;
}

.reset-text-box .textbox-addon{
    width: 18px;
}

.reset-text-box .combo-arrow {
    width: 18px!important;
    border-left: 1px solid #125f95;
    background: url("../images/drop-down.png") no-repeat 4px center;
}

.combobox-item{
    cursor: pointer;
    color: #a2d9ff;
    font-family: Arial;
    background: #004270;
    border-bottom: 1px solid #125f95;
}

.combobox-item:last-child{
    border-bottom: 0;
}

.combobox-item-selected{
    color: #28edff;
}

.panel-body{
    border: 1px solid #125f95;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

.aside-content::-webkit-scrollbar,
.word-width::-webkit-scrollbar,
.port-result::-webkit-scrollbar{
    width:16px;
    height:16px;
}

.aside-content::-webkit-scrollbar-track,
.word-width::-webkit-scrollbar-track,
.port-result::-webkit-scrollbar-track{
    width: 16px;
    background-color:#00497c;
}

.aside-content::-webkit-scrollbar-thumb,
.word-width::-webkit-scrollbar-thumb,
.port-result::-webkit-scrollbar-thumb{
    background-color:#00538d;
}

.aside-content::-webkit-scrollbar-button:decrement,
.word-width::-webkit-scrollbar-button:decrement,
.port-result::-webkit-scrollbar-button:decrement{
    background: url("../images/up.png") no-repeat 0 3px;
}

.aside-content::-webkit-scrollbar-button:increment,
.word-width::-webkit-scrollbar-button:increment,
.port-result::-webkit-scrollbar-button:increment{
    background: url("../images/down.png") no-repeat;
}