.btn-group {
    position: absolute;
    top: 46px;
    right: 10px;
    overflow: hidden;
}

.btn-group a {
    width: 46px;
    line-height: 26px;
    text-align: center;
    position: relative;
    z-index: 99;
    float: left;
    border-top: 1px solid #125f95;
    border-bottom: 1px solid #125f95;
    background: url("../images/divider.png") repeat-y right;
}

.btn-group a:first-child{
    border-left: 1px solid #125f95;
}

.btn-group a.active{
    color: #28edff;
    background: none;
    border-top: 1px solid #0072c0;
    border-bottom: 1px solid #005088;
    background: -webkit-linear-gradient(#0071bf, #005189);
    background: -o-linear-gradient(#0071bf, #005189);
    background: -moz-linear-gradient(#0071bf, #005189);
    background: linear-gradient(#0071bf, #005189);
}

.btn-group a:first-child.active{
    border-left: 0;
}

.btn-group a:hover{
    color: #28edff;
}

.left-panel{
    width: 540px;
}

.port-number{
    margin-bottom: 10px;
}

.port-chart{
    height: 243px;
}

.product-number .btn-group{
    margin-top: 10px;
    margin-right: 10px;
    position: static;
    float: right;
}

.left-panel,
.center-panel,
.right-panel{
    height: 100%;
}

.center-panel{
    width: 800px;
    padding: 10px;
    margin: 0 10px;
    float: left;
    position: relative;
}

.element-block{
    margin-bottom: 10px;
    position: relative;
}

.slider{
    margin-left: 10px;
    position: relative;
}

.time-liner{
    margin-bottom: 10px;
}

.time-line{
    float: left;
}

.arrow{
    width: 8px;
    height: 16px;
    margin-top: 6px;
    display: block;
    cursor: pointer;
}

.arrow-prev{
    background: url("../images/prev.png") no-repeat center/cover;
}

.arrow-prev:hover{
    background: url("../images/prev-hover.png") no-repeat center/cover;
}

.arrow-next{
    background: url("../images/next.png") no-repeat center/cover;
}

.arrow-next:hover{
    background: url("../images/next-hover.png") no-repeat center/cover;
}

.time-content {
    width: 490px;
    height: 28px;
    position: relative;
    overflow: hidden;
}

.time-content ul{
    width: 5000px;
    height: 28px;
    position: absolute;
}

.time-content ul li{
    width: 59px;
    height: 26px;
    margin: 0 5px;
    line-height: 26px;
    float: left;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: 1px solid #125f95;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.time-content ul li.active,
.time-content ul li:hover{
    border: 0;
    line-height: 28px;
    background: -webkit-linear-gradient(#0072c0, #005088);
    background: -o-linear-gradient(#0072c0, #005088);
    background: -moz-linear-gradient(#0072c0, #005088);
    background: linear-gradient(#0072c0, #005088);
}

.map{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/map.png") no-repeat center/cover;
}

.player{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid #125f95;
}

.player button{
    width: 62px;
    float: left;
    padding-left: 8px;
    text-align: left;
    line-height: 26px;
    display: block;
    background: url("../images/play.png") no-repeat 40px 8px;
}

.player button.pause{
    border-left: 1px solid #125f95;
    background: url("../images/pause.png") no-repeat 40px 8px;
}

.player button:hover{
    color: #28edff;
    background: url("../images/play-hover.png") no-repeat 40px 8px;
}

.player button.pause:hover{
    background: url("../images/pause-hover.png") no-repeat 40px 8px;
}

.player .play-disable,
.player .play-disable:hover{
    color: #125f95;
    cursor: no-drop;
    background: url("../images/play-disable.png") no-repeat 40px 8px;
}

.player button.pause-disable,
.player button.pause-disable:hover{
    color: #125f95;
    cursor: no-drop;
    background: url("../images/pause-disable.png") no-repeat 40px 8px;
}

.product-chart{
    width: 80%;
    height: 205px;
    margin: 0 auto;
}

.response-time{
    margin: 10px 0;
}

.response-chart{
    height: 243px;
}

.highcharts-container {
    position: inherit !important;
}
.highcharts-tooltip {
    z-index: 9998;
}