body{
    background-image: url("../images/login-bg.jpg");
    text-align: center;
    background-size: 100% 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.box{
    width: 1315px;
    height: 461px;
    margin: -230px 0 0 -657px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.login{
    width: 480px;
    float: right;
}

.login-logo{

}

.login-container{
    width: 100%;
    height: 380px;
    padding: 0 30px;
    margin: 17px 0;
    border: 1px solid #125f95;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #00497c;
}

.login-container h2{
    margin: 22px 0;
    font-size: 18px;
}

.login-type ul li{
    width: 209px;
    float: left;
    cursor: pointer;
    padding-bottom: 12px;
    border-bottom: 1px solid #125f95;
}

.login-type ul li.active{
    color: #28edff;
    border-bottom: 1px solid #28edff;
}

.login-block{
    display: none;
}

.input-block {
    margin-top: 30px;
    position: relative;
}

.input-block label{
    position: absolute;
    top: 10px;
    left: 10px;
}

.input-block input{
    width: 100%;
    line-height: 34px;
    padding-left: 33px;
    padding-right: 10px;
    cursor: auto;
    border: 1px solid #125f95;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: transparent;
    font-size: 14px;
}

.login-btn{
    width: 100%;
    margin-top: 30px;
    line-height: 34px;
    background: -webkit-linear-gradient(#0072c0, #005088);
    background: -o-linear-gradient(#0072c0, #005088);
    background: -moz-linear-gradient(#0072c0, #005088);
    background: linear-gradient(#0072c0, #005088);
}

.login-state{
    margin-top: 25px;
}

.checkbox{
    position: relative;
}

.checkbox input{
    margin-left: 8px;
}

.checkbox input +label{
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 0;
    background: url("../images/checkbox.png") no-repeat;
}

.checkbox input:checked +label::before {
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background: url("../images/checkbox-selected.png") no-repeat;
}


input[type=checkbox] {
    visibility: hidden;
}