*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
body {
    font-size:14px;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    max-width: 100%;
    min-width: 1200px;
    overflow-x: hidden;
    font-family: "微软雅黑";
    color: #a2d9ff;
    background: #003c65;
}

pre,
input,
button{
    color: #a2d9ff;
    font-family: "微软雅黑";
}

button{
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

img {
    height: auto;
    border: none;
    display: inline-block;
}

img,
input,
textarea,
select,
span,
button{
    outline: none;
}

textarea {
    resize: none;
}

a {
    color: #a2d9ff;
    display: block;
    text-decoration: none;
}

a:focus {
    outline-offset: -2px;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 14px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 14px;
    color: #307cb0;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    color: #307cb0;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
    color: #307cb0;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 14px;
    color: #307cb0;
}

textarea::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 14px;
    color: #307cb0;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    color: #307cb0;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
    color: #307cb0;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 14px;
    color: #307cb0;
}

.fl{
    float: left;
}

.fr{
    float: right;
}
