.title:after{
    background: #d9efff;
}

.word-aside{
    width: 240px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.word-aside ul li{
    padding-left: 22px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
}

.word-aside ul li:after{
    content: '';
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 12px;
    left: 10px;
    background: #a2d9ff;
}

.word-aside ul li:hover{
    color: #28edff;
}

.word-aside ul li.current{
    color: #28edff;
    background: #0061a5;
}

.word-aside ul li:hover:after,
.word-aside ul li.current:after{
    background: #28edff;
}

.word-content{
    height: 100%;
    margin-left: 250px;
}

.word-width{
    padding: 10px;
    overflow-y: auto;
}

.word-des{
    width: 60%;
}

.word-guide{
    line-height: 25px;
}

.return-code table{
    width: 600px;
    border: 1px solid #125f95;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.return-code tr th,
.return-code tr td{
    height: 30px;
    border-right: 1px solid #125f95;
    border-bottom: 1px solid #125f95;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
}

.return-code tr th{
    background: -webkit-linear-gradient(#004b7f, #004373);
    background: -o-linear-gradient(#004b7f, #004373);
    background: -moz-linear-gradient(#004b7f, #004373);
    background: linear-gradient(#004b7f, #004373);
}

.return-code tr th:last-child,
.return-code tr td:last-child{
    border-right: 0;
}

.return-code tr:last-child td{
    border-bottom: 0;
}

.return-code h3{
    margin: 10px 0;
}